body {
  background-color: gainsboro;
}

.color-nav {
  background-color: lightgray;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
